html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: Montserrat, sans-serif;
  vertical-align: baseline;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body button:hover {
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body aside.verticalMenu {
  display: none;
  transition: 0.5s;
  position: fixed;
  z-index: 4;
  left: 0;
  height: 100vh;
  width: 20vw;
  overflow: auto;
  background-color: black;
}
body aside.verticalMenu ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
body aside.verticalMenu ul li {
  width: 100%;
  color: white;
}
body aside.verticalMenu ul li a.main {
  border-bottom: 1px solid rgba(128, 128, 128, 0.371);
  padding: 1em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
body aside.verticalMenu ul li a.main i {
  margin-left: 8px;
  font-size: 0.7em;
  color: white;
}
body aside.verticalMenu ul .sub {
  display: none;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
body aside.verticalMenu ul .sub li {
  border-bottom: 1px solid rgba(128, 128, 128, 0.371);
  padding: 0.5em 2em;
}
body aside.verticalMenu ul .sub li a {
  color: white;
}
body header {
  position: fixed;
  width: 100vw;
  height: 15vh;
  padding: 0 100px;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}
body header nav.horizontalMenu ul {
  width: 40vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header nav.horizontalMenu ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header nav.horizontalMenu ul li a i {
  margin-left: 8px;
  font-size: 0.7em;
}
body header nav.horizontalMenu ul li .sub {
  display: none;
  position: absolute;
  width: 300px;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: white;
  padding: 1em;
}
body header nav.horizontalMenu ul li .sub li {
  padding: 0.5em;
}
body header nav.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}
body header nav.buttons #hamburger {
  margin-left: 10px;
  border: none;
  background-color: transparent;
}
body header nav.buttons #hamburger i {
  font-size: 2.5em;
}

main {
  width: 100%;
}
main section.background {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
main section.background nav#colors {
  transition: 0.5s;
  position: fixed;
  top: 250px;
  left: -190px;
  z-index: 3;
  width: 190px;
  display: flex;
  justify-content: space-around;
  align-items: start;
}
main section.background nav#colors div.palette {
  background-color: #38f9d7;
  text-align: center;
  padding: 20px;
}
main section.background nav#colors div.palette p {
  text-align: left;
  font-weight: 500;
  padding-bottom: 20px;
}
main section.background nav#colors div.palette button.circular {
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  border: 2px white solid;
  margin-bottom: 6px;
}
main section.background nav#colors button.toggle {
  position: absolute;
  left: 170px;
  border: none;
  border-radius: 30px;
  background-color: #38f9d7;
  width: 50px;
  padding: 1em 2em 1em 3em;
}
main section.background .rightRectangle {
  position: absolute;
  width: 900px;
  height: 500px;
  background-color: rgba(56, 249, 214, 0.368627451);
  border-radius: 50px;
  top: 100px;
  right: -50px;
  z-index: -1;
}
main section.background .blurredCircle {
  position: absolute;
  top: 150px;
  left: -175px;
  width: 350px;
  height: 350px;
  border-radius: 100%;
  background-color: #6e45e2;
  filter: blur(100px);
  z-index: -1;
}
main section.background .movingCircle {
  position: absolute;
  top: 155px;
  left: 255px;
  width: 280px;
  height: 280px;
  background-color: #38f9d7;
  border-radius: 100%;
  z-index: -2;
  -webkit-animation: mymove 10s infinite;
          animation: mymove 10s infinite;
}
main section.background .hero {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main section.background .hero article {
  margin-top: 200px;
  margin-left: 150px;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
main section.background .hero article h1 {
  font-size: 4em;
}
main section.background .hero article h1 #creative {
  font-weight: 100;
  color: grey;
}
main section.background .hero article h1 #agency {
  font-weight: 900;
  color: black;
}
main section.background .hero article h1 #jura {
  font-weight: 900;
  color: rgb(110, 69, 226);
}
main section.background .hero article p {
  font-size: 1.2em;
  width: 70%;
}
main section.background .hero div.images {
  margin-top: 200px;
  margin-right: 100px;
  width: 45%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
main section.background .hero div.images figure.left {
  border-radius: 20px;
  width: 30%;
  overflow: hidden;
}
main section.background .hero div.images figure.left img {
  width: 100%;
}
main section.background .hero div.images figure.right {
  border-radius: 20px;
  width: 45%;
  overflow: hidden;
}
main section.background .hero div.images figure.right img {
  width: 100%;
}

.buttonPrimary {
  border: none;
  background-color: rgb(110, 69, 226);
  padding: 1em 3em;
  border-radius: 30px;
  color: white;
  transition: 0.5s;
}
.buttonPrimary:hover {
  background-color: cyan;
  color: black;
}

@-webkit-keyframes mymove {
  0% {
    top: 0px;
    left: 0px;
  }
  25% {
    top: 200px;
    left: 100px;
  }
  50% {
    top: 100px;
    left: 50px;
  }
  75% {
    top: 200px;
    left: 30px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}

@keyframes mymove {
  0% {
    top: 0px;
    left: 0px;
  }
  25% {
    top: 200px;
    left: 100px;
  }
  50% {
    top: 100px;
    left: 50px;
  }
  75% {
    top: 200px;
    left: 30px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
button.blue {
  background-color: blue;
}

button.black {
  background-color: black;
}

button.coral {
  background-color: coral;
}

button.orange {
  background-color: orange;
}

button.indigo {
  background-color: indigo;
}

button.grey {
  background-color: grey;
}

button.teal {
  background-color: teal;
}

button.green {
  background-color: green;
}

.shown {
  left: 0 !important;
}

.showNav {
  display: block !important;
}/*# sourceMappingURL=style.css.map */