@import "reset";
@import "variables";
@import "header";

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	aside.verticalMenu {
		display: none;
		transition: 0.5s;
		position: fixed;
		z-index: 4;
		left: 0;
		height: 100vh;
		width: 20vw;
		overflow: auto;
		background-color: black;
		ul {
			display: flex;
			flex-direction: column;
			justify-content: start;
			align-items: center;
			li {
				width: 100%;
				color: white;
				a.main {
					border-bottom: 1px solid rgba(128, 128, 128, 0.371);
					padding: 1em 1em;
					// border-bottom: 1px solid rgba(128, 128, 128, 0.371);
					display: flex;
					justify-content: space-between;
					align-items: center;
					color: white;
					i {
						margin-left: 8px;
						font-size: 0.7em;
						color: white;
					}
				}
			}
			.sub {
				display: none;
				// display: flex;
				flex-direction: column;
				justify-content: start;
				align-items: center;
				li {
					border-bottom: 1px solid rgba(128, 128, 128, 0.371);
					padding: 0.5em 2em;
					a {
						color: white;
					}
				}
			}
		}
	}
	header {
		position: fixed;
		width: 100vw;
		height: 15vh;
		padding: 0 100px;
		background-color: transparent;
		display: flex;
		justify-content: space-around;
		align-items: center;
		z-index: 1;
		nav.horizontalMenu {
			ul {
				width: 40vw;
				display: flex;
				justify-content: space-between;
				align-items: center;
				li {
					// margin: 10px;
					a {
						display: flex;
						justify-content: space-between;
						align-items: center;
						i {
							margin-left: 8px;
							font-size: 0.7em;
						}
					}
					.sub {
						display: none;
						position: absolute;
                        width: 300px;
						// display: flex;
						flex-direction: column;
						justify-content: start;
						align-items: start;
                        background-color: white;
                        padding: 1em;
						li {
                            padding: 0.5em;
						}
					}
				}
			}
		}
		nav.buttons {
			display: flex;
			justify-content: space-between;
			align-items: center;
			white-space: nowrap;

			#hamburger {
				margin-left: 10px;
				border: none;
				background-color: transparent;
				i {
					font-size: 2.5em;
				}
			}
		}
	}
}

main {
	width: 100%;
	section.background {
		position: relative;
		width: 100%;
		height: 100vh;
		overflow: hidden;
		nav#colors {
			transition: 0.5s;
			position: fixed;
			top: 250px;
			left: -190px;
			z-index: 3;
			width: 190px;
			display: flex;
			justify-content: space-around;
			align-items: start;
			div.palette {
				background-color: #38f9d7;
				text-align: center;
				padding: 20px;
				p {
					text-align: left;
					font-weight: 500;
					padding-bottom: 20px;
					// padding: 10px;
				}
				button.circular {
					border-radius: 100%;
					width: 2rem;
					height: 2rem;
					border: 2px white solid;
					margin-bottom: 6px;
				}
			}
			button.toggle {
				position: absolute;
				left: 170px;
				border: none;
				border-radius: 30px;
				background-color: #38f9d7;
				width: 50px;
				padding: 1em 2em 1em 3em;
			}
		}
		.rightRectangle {
			position: absolute;
			width: 900px;
			height: 500px;
			background-color: #38f9d65e;
			border-radius: 50px;
			top: 100px;
			right: -50px;
			z-index: -1;
		}
		.blurredCircle {
			position: absolute;
			top: 150px;
			left: -175px;
			width: 350px;
			height: 350px;
			border-radius: 100%;
			background-color: #6e45e2;
			filter: blur(100px);
			z-index: -1;
		}
		.movingCircle {
			position: absolute;
			top: 155px;
			left: 255px;
			width: 280px;
			height: 280px;
			background-color: #38f9d7;
			border-radius: 100%;
			z-index: -2;
			animation: mymove 10s infinite;
		}
		.hero {
			height: 100%;
			display: flex;
			justify-content: space-around;
			align-items: center;
			article {
				margin-top: 200px;
				margin-left: 150px;
				height: 45%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: start;
				h1 {
					font-size: 4em;
					#creative {
						font-weight: 100;
						color: grey;
					}
					#agency {
						font-weight: 900;
						color: black;
					}
					#jura {
						font-weight: 900;
						color: rgb(110, 69, 226);
					}
				}
				p {
					font-size: 1.2em;
					width: 70%;
				}
			}
			div.images {
				margin-top: 200px;
				margin-right: 100px;

				width: 45%;
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				figure.left {
					border-radius: 20px;
					width: 30%;
					overflow: hidden;
					img {
						width: 100%;
					}
				}
				figure.right {
					border-radius: 20px;
					width: 45%;
					overflow: hidden;
					img {
						width: 100%;
					}
				}
			}
		}
	}
}

.buttonPrimary {
	border: none;
	background-color: rgb(110, 69, 226);
	padding: 1em 3em;
	border-radius: 30px;
	color: white;
	transition: 0.5s;
	&:hover {
		background-color: cyan;
		color: black;
	}
}

@keyframes mymove {
	0% {
		top: 0px;
		left: 0px;
	}
	25% {
		top: 200px;
		left: 100px;
	}
	50% {
		top: 100px;
		left: 50px;
	}
	75% {
		top: 200px;
		left: 30px;
	}
	100% {
		top: 0px;
		left: 0px;
	}
}

button.blue {
	background-color: blue;
}
button.black {
	background-color: black;
}
button.coral {
	background-color: coral;
}
button.orange {
	background-color: orange;
}
button.indigo {
	background-color: indigo;
}
button.grey {
	background-color: grey;
}
button.teal {
	background-color: teal;
}
button.green {
	background-color: green;
}


.shown {
	left: 0 !important;
}

.showNav {
	display: block !important;
}